//colors
$white: #ffffff;
$black: #000000;
$alert: #dc3545;
$darkGray: #2b2f3e;
$green: #17a2b8;
$darkGreen: #138496;
$deeppink: #ff1493;
$blue: #007bff;
$darkBlue: #0069d9;
$greyLight: #5b5d6321;

//color fonts
$whiteFont: #ffffff;
$blackFont: #000000;
$greyFont: #808080;

//device
$tablet: 768px;
$desktop: 1280px;

//transition
$transition: 0.3s ease-in-out;
